*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}
.flex{display: flex ;}
.main-container{
    width: 90%;
    margin: 0 auto;
}

/* inizio header */
.head{
    background-image: url(../img/jumbo.png);
    background-size: cover;
 
}

.link-header{padding: 0 25px;
color: white;
font-size: 25px;}

.info-flex{
    
    width: 70%;
    margin: auto;
    display: flex;
    justify-content:space-around ;
    align-items: center;
}

#logo1{ width: 200px;
height: 200px;} 

.info{
    margin: auto;
    padding: 15px;
    font-size: 22px;
    font-weight: 400;
}

.logo{
    text-align: left;
    width: 20%;
}

.link{
    text-align: center;
    width: 50%;
    
}

#accedi{
    color: black;
    border-radius: 12px;
    border: 1px white solid;
    background-color: white;
    padding: 10px 15px;
    font-size: 25px;
}


.login{
    text-align: right;
    width: 25%;
    font-size: 40px;
}
   
 .centrale-flex{
    width: 70%;
    padding: 40px;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;

}

.sotto-container{
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{font-size: 70px;
color: white;
padding-bottom: 50px;}

#paragrafo-header{
    text-align: center;
    font-size: 28px;
    color: white;
    padding-bottom: 50px;
}
   


#arrow-down{height: 25px;
padding-right: 30px;
vertical-align: middle;}
#button1{
    color: black;
    font-size: 30px;
    border: 1px solid white;
    border-radius: 30px;
    background-color: white;
    padding: 15px 20px;
    align-self: center;
    margin-right: 50px;
}
#button2{ 
    font-size: 30px;
    color: white;
    background-color: #23272A;
    border: #23272A solid 1px;
    border-radius: 30px;
    padding: 15px 20px;
    align-self: center;
}
/* fine header */

/* inizio body */
.body-container{
    width: 100%;
    margin: auto;
}

.bianca-flex{
    margin: 150px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.maggiore{
    width:30%;
}

h2{
    text-align: left;
    font-size: 50px;
    font-weight: bolder;
    color: #333333;
}

p{
    text-align: justify;
    font-size: 25px;
    font-weight: 500;
    margin-top: 20px;
}

.minore{
    width: 15%;
}

.grigia-flex{
   
    margin: 50px auto;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#centro-grigia-flex{
    padding: 20px;
    display: flex;
    justify-content: center;
}
    

.unico{
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
#big-img{align-self: flex-end;
width: 100%;}

#stars{width: 900px;}

/* fine body */

/* inizio foooter */
footer{background-color: #23272A;
}

.multi-flex{
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#singolo{
    height: 500px;
    width: 15%;
}

#ita{width: 25px;}

#h2-footer{color:#7289DA;
padding-bottom: 50px;}

#V{width: 20px;;
    color:white;
}

span{font-size: 30px;
color: white;
}

.logo-footer{
    color: white;
    width: 25px;
    margin: 15px;
}

#multiplo-flex{
    width: 37%;
    height: 500px;
    padding-top: 25px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.flex-colonna{
    width: 25%;
}
    
.nome-elenco{
    color: #8EA1E1;
    font-weight: bold;
    font-size: 25px;
    padding-top: 5px;
}    
 
.voce-elenco{
    color: white;
    font-size: 21px;
    padding: 10px;
}

#flex-footer{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#container-footer{
    width: 50%;
    padding:0 0 25px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

.bottom{
    font-size: 20px;
    font-weight: 400;
    padding: 5px;
}

.registrati{color: white;
background-color: #8EA1E1;
border: #8EA1E1 1px solid;
border-radius: 30px;
padding: 15px 20px;
vertical-align: middle;}
/* fine footer */


